:root {
  --bg-color: #333;
  --bg-color-float: #222;
  --text-color: #ddd;
  --text-color-active: #fff;
  --text-color-invert: #333;
  --text-color-invert-active: #222;
  --text-color-danger: #e44;
  --text-color-danger-active: #f55;
  --accent-color: hsl(252, 50%, 45%);
  --accent-color-active: hsl(252, 50%, 50%);
  --border: solid 1px #aaa;
  --border-color-active: #ccc;
  --border-color-invalid: #e44;
  --border-color-danger: #e44;
  --border-color-danger-active: #f55;
  --border-radius: 2px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
hr {
  border: none;
  border-top: var(--border);
  margin: 30px 0;
}
a {
  color: var(--text-color);
  cursor: pointer;
}
a:hover,
a:focus,
a:active {
  color: var(--text-color-active);
}
/* https://stackoverflow.com/questions/29580704/change-input-background-to-transparent-on-autocomplete-form */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
}
nav {
  background-color: var(--bg-color-float);
  padding: 15px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav ul li {
  margin-left: 15px;
}
nav ul li a {
  text-decoration: none;
}
.nav-brand {
  display: inline-flex;
  align-items: center;
}
.nav-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main {
  padding: 10px;
}
.horizontal-center {
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 960px;
}

.form {
  padding: 30px;
  min-width: 340px;
  background-color: var(--bg-color-float);
  border-radius: var(--border-radius);
}
.form-title {
  font-size: 21px;
  margin: 0 0 20px;
}
.input,
.input:active,
.input:focus {
  padding: 10px;
  background: transparent;
  border: var(--border);
  color: var(--text-color);
  outline: none;
  border-radius: var(--border-radius);
}
.input:focus {
  border-color: var(--border-color-active);
  color: var(--text-color-active);
}
.input:invalid:not(:focus) {
  border-color: var(--border-color-invalid);
}
.button {
  padding: 8px 12px;
  border: var(--border);
  outline: none;
  color: var(--text-color);
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  background: transparent;
  display: inline-flex;
  line-height: 1;
  justify-content: center;
}
.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.button:hover,
.button:active {
  border-color: var(--border-color-active);
  color: var(--text-color-active);
}
.button.wide {
  display: block;
  width: 100%;
}
.button.wide:not(:first-child) {
  margin-top: 30px;
}
.button.wide:not(:last-child) {
  margin-bottom: 30px;
}

.button.primary {
  background-color: var(--accent-color);
}
.button.primary:hover,
.button.primary:active {
  background-color: var(--accent-color-active);
}
.button.danger {
  border-color: var(--border-color-danger);
  color: var(--text-color-danger);
}
.button.danger:hover,
.button.danger:active {
  border-color: var(--border-color-danger-active);
  color: var(--text-color-danger-active);
}
