:root {
  --bg-color: #333;
  --bg-color-float: #222;
  --text-color: #ddd;
  --text-color-active: #fff;
  --text-color-invert: #333;
  --text-color-invert-active: #222;
  --text-color-danger: #e44;
  --text-color-danger-active: #f55;
  --accent-color: hsl(252, 50%, 45%);
  --accent-color-active: hsl(252, 50%, 50%);
  --border: solid 1px #aaa;
  --border-color-active: #ccc;
  --border-color-invalid: #e44;
  --border-color-danger: #e44;
  --border-color-danger-active: #f55;
  --border-radius: 2px;
}
html {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  height: 100%;
}
#root {
  height: 100%;
}
.top {
  height: 100%;
  display: flex;
  flex-direction: column;
}
hr {
  border: none;
  border-top: var(--border);
  margin: 10px 0;
}
a {
  color: var(--text-color);
  cursor: pointer;
}
a:hover,
a:focus,
a:active {
  color: var(--text-color-active);
}
/* https://stackoverflow.com/questions/29580704/change-input-background-to-transparent-on-autocomplete-form */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
}
nav {
  background-color: var(--bg-color-float);
  padding: 15px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav ul li {
  margin-left: 15px;
}
nav ul li a {
  text-decoration: none;
}
.nav-brand {
  display: inline-flex;
  align-items: center;
}
.nav-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.horizontal-center {
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 960px;
}
main {
  padding: 10px 0 0;
  box-sizing: border-box;
}
.editor-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.setting-editor {
  flex-grow: 1;
}
.form {
  padding: 30px;
  width: 340px;
  max-width: 100%;
  background-color: var(--bg-color-float);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-sizing: border-box;
}
.form-title {
  font-size: 18px;
  margin: 0;
}
.input,
.input:active,
.input:focus {
  padding: 10px;
  background: transparent;
  border: var(--border);
  color: var(--text-color);
  outline: none;
  border-radius: var(--border-radius);
}
.input:focus {
  border-color: var(--border-color-active);
  color: var(--text-color-active);
}
.input:invalid:not(:focus) {
  border-color: var(--border-color-invalid);
}
.button {
  padding: 8px 12px;
  border: var(--border);
  outline: none;
  color: var(--text-color);
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  background: transparent;
  display: inline-flex;
  line-height: 1;
  justify-content: center;
}
.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.button:hover,
.button:active {
  border-color: var(--border-color-active);
  color: var(--text-color-active);
}
.button.wide {
  display: block;
  width: 100%;
}
.button.primary {
  background-color: var(--accent-color);
}
.button.primary:hover,
.button.primary:active {
  background-color: var(--accent-color-active);
}
.button.danger {
  border-color: var(--border-color-danger);
  color: var(--text-color-danger);
}
.button.danger:hover,
.button.danger:active {
  border-color: var(--border-color-danger-active);
  color: var(--text-color-danger-active);
}
.select {
  border: var(--border);
  border-radius: var(--border-radius);
  display: inline-flex;
  position: relative;
}
.select select {
  outline: none;
  appearance: none;
  padding: 8px 12px;
  border: none;
  background: none;
  color: var(--text-color);
  font-size: var(--font-size);
  line-height: 1;
  cursor: pointer;
  width: 100%;
}
.select::after {
  content: "▼";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 10px;
}

.help {
  font-size: 12px;
  color: #999;
  height: 16px;
}

.message-bar {
  position: absolute;
  top: 10px;
  z-index: 2;
  text-align: center;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  pointer-events: none;
}
.message-bar:not(.show) {
  max-height: 0;
}
.message-bar.show {
  max-height: 100px;
}
.message-bar-inner {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: var(--border-radius);
  padding: 8px 16px;
  border-style: solid;
  border-width: 1px;
  pointer-events: auto;
}
.message-bar.success .message-bar-inner {
  background-color: #122;
  border-color: #366;
}
.message-bar.error .message-bar-inner {
  background-color: #312;
  border-color: #735;
}
button.link {
  border: none;
  outline: none;
  appearance: none;
  color: inherit;
  background: transparent;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.modal-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}
.modal-front {
  z-index: 1;
  border: var(--border);
}
