name: Deploy
on: [push]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - name: Install Deno
        uses: denoland/setup-deno@v1

      - name: Build
        run: |
          npm ci
          npm run build

      - name: Test
        run: |
          npm test

      - name: Deploy to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: "kaleidoshare"
          # entrypoint: server.ts
          entrypoint: https://deno.land/std@0.157.0/http/file_server.ts
          root: dist